@model List<Cinema.Entities.Concrete.Movie>


<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Seçim</th>
                    <th>Kategori</th>
                    <th>Film Adı</th>
                    <th>Fiyat</th>
                    <th>Durum</th>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.Status)
                    {
                       <tr>
                           <td><input value="@item.Id" name="MovieId" type="radio" /></td>
                           <td>@item.Category.Name </td>
                           <td>@item.Name</td>
                           <td>@item.Price</td>
                           <td>
                               <span class="label label-success">Active</span>
                           </td>
                       </tr>
                    }
                }
            </table>
            <h1>Vizyona Girecek Filmler</h1>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>_</th>
                    <th>Kategori</th>
                    <th>Film Adı</th>
                    <th>Fiyat</th>
                    <th>Durum</th>
                </tr>
                @foreach (var item in Model)
                {
                    if (!item.Status)
                    {
                       <tr>
                          <td>_</td>
                          <td>@item.Name</td>
                          <td>@item.Category.Name</td>
                          <td>@item.Price</td>
                          <td><span class="label">Inactive</span></td>
                       </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>