@model Cinema.UI.Models.ViewModels.SeatConvertVM

@{
    ViewData["Title"] = "Details";
}

<h1>Koltuk Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Güncelle", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Sil", "Delete", new { id = Model.Id }) |
    <a asp-action="Index">Listeye dön.</a>
</div>